#filters {
    margin-bottom: 20px;
}

#filters label {
    margin-right: 10px;
}

#filters select, #filters input {
    margin-right: 20px;
}
.custom-dropdown {
    position: relative;
    display: inline-block;
    font-size: 14px;
}

.custom-dropdown button {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
    padding: 10px;
    min-width: 150px;
}

.dropdown-content label {
    display: block;
    padding: 4px 0;
    font-size: 12px;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 6px;
}

.show {
    display: block;
}

.card h3 {
    margin: 0;
    font-size: 1.2em;
}

.card p {
    margin: 5px 0;
}
#cards-container .card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.card-image {
    width: 100px; /* Justér størrelsen efter behov */
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}
