#filters {
    margin-bottom: 20px;
}

#filters label {
    margin-right: 10px;
}

#filters select, #filters input {
    margin-right: 20px;
}


.card h3 {
    margin: 0;
    font-size: 1.2em;
}

.card p {
    margin: 5px 0;
}
#cards-container .card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.card-image {
    width: 100px; /* Justér størrelsen efter behov */
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}
